template(name='nav')
    .ui.attached.fluid.borderless.topnav.menu
        a.icon.item.toggle_sidebar
            i.bars.icon
        // a.icon.item.home(href='/' class="{{isActivePath '/'}}" title='menu')
        //     +icolor name='circled-menu' classes='ui inline mini image'
        //- a.icon.item(href='/grid' class="{{isActivePath '/grid'}}" title='menu')
        //-     +icolor name='circled-menu' classes='ui inline mini image'
        a.header.item.meal(href="/" class="{{isActivePath '/m/meal'}}" title='home')
            //- unless subs_ready 
                i.yin.yang.loading.grey.icon(title='dao')
            //- else 
            //- i.fire.icon.toggle_menu
            +icolor name='fire-element' classes='ui inline mini image'
            span.mobile.hidden
                |whats cookin
            span.mobile.only
                |wc
        a.icon.item.mobile.hidden(href='/users' class="{{isActivePath '/users'}}" title='users')
            //i.users.icon
            +icolor name='group' classes='ui inline mini image'
            |users
        a.mobile.hidden.item.mobile.hidden(href='/m/tribe' class="{{isActivePath '/tribes'}}" title='tribes')
            +icolor name='log-cabin' classes='ui inline mini image'
            |tribes
        // a.mobile.hidden.item(href="/new_meal" title='cook')
        //     +icolor name='cooking' classes='ui inline mini image'
        //     |cook
        // a.mobil cipes
        a.mobile.hidden.item.set_business(href='/m/business' class="{{isActivePath '/m/business'}}") 
            +icolor name='restaurant'
            |businesses
        // a.mobile.hidden.item(href='/m/dish' class="{{isActivePath '/m/dish'}}" title='dishes') 
        //     +icolor name='real-food-for-meals' classes='ui inline mini image'
        //     |dishes
        // a.mobile.hidden.item(href='/m/ingredient' class="{{isActivePath '/m/ingredient'}}" title='ingredients') 
        //     +icolor name='ingredients' classes='ui inline mini image'
        //     |ingredients
        .right.menu
            if is_admin 
                a.icon.item.mobile.hidden(href='/admin' class="{{isActivePath '/admin'}}" title="admin")
                    i.shield.icon
                a.icon.item.mobile.hidden(href='/m/model' class="{{isActivePath '/m/model'}}" title="delta")
                    i.code.icon
                a.icon.item.mobile.hidden(href='/m/order' class="{{isActivePath '/m/order'}}" title="orders")
                    i.list.icon
                
            // a.mobile.hidden.icon.item(href='/events' class="{{isActivePath '/events'}}" title='events') 
            //     i.calendar.icon
            // a.icon.item(href='/chat' class="{{isActivePath '/chat'}}" title='chat') 
            //     i.chat.outline.icon
            //     i.rss.icon
            
            a.icon.item.mobile.hidden(href='/chat' class="{{isActivePath '/chat'}}" title='chat') 
                i.chat.outline.blue.large.icon
            if currentUser
                a.icon.item.alerts(href='/alerts' class="{{isActivePath '/alerts'}}" title='alerts') 
                    i.bell.large.yellow.icon(class=alert_icon_class)
                a.item(href="/user/#{currentUser.username}/credit" title='your credit')
                    .ui.green.header
                        |#{currentUser.credit}c
                a.item(href="/user/#{currentUser.username}") 
                    if currentUser.profile_image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.user.icon
                    |#{currentUser.username}
                a.icon.item.toggle_rightbar
                    i.ellipsis.vertical.large.icon
                    
            else 
                a.icon.item(href="/login")
                    +icolor name='enter-2' classes='ui mini inline image'
                    |login



template(name='topbar')
    .ui.inverted.fluid.large.attached.menu(style="background-color:#{currentUser.theme_color};")
        .item.header notifications
        .ui.list
            each recent_alerts
                .item #{description} #{author.name}
        .spacer
        .spacer
        a.ui.tertiary.button.item(href="/inbox")
            i.inbox.icon
            |inbox
            

template(name='right_sidebar')
    .ui.right.sidebar.inverted.vertical.large.borderless.menu(style="background-color:#{currentUser.theme_color};")
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/" class="{{isActivePath 'user_dashboard'}}")
            | dashboard
            i.dashboard.icon
        
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/about" class="{{isActivePath 'user_about'}}")
            | about
            i.info.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/credits" class="{{isActivePath 'user_credits'}}")
        //     | received
        //     i.chevron.down.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/debits" class="{{isActivePath 'user_sent'}}")
        //     | sent
        //     i.chevron.up.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/events" class="{{isActivePath 'user_events'}}")
            | events
            i.calendar.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/requests" class="{{isActivePath 'user_requests'}}")
            | requests
            i.concierge.bell.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/food" class="{{isActivePath 'user_food'}}")
            | food
            i.food.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/orders" class="{{isActivePath 'user_orders'}}")
            | orders
            i.cart.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/delivery" class="{{isActivePath 'user_delivery'}}")
            | delivery
            i.truck.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/offers" class="{{isActivePath 'user_offers'}}")
            | offers
            i.hand.holding.heart.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}")
        //     | chat
        //     i.chat.icon
        .ui.divider
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings

        a.item.logout(href="/user/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.inverted.vertical.large.borderless.menu(style="background-color:#{currentUser.theme_color};")
        // a.item.toggle_sidebar(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        a.item.set_member.toggle_sidebar(href="/m/member" class="{{isActivePath 'm/member'}}" title='players')
            i.users.icon
            | directory
        a.item.toggle_sidebar(href="/events" class="{{isActivePath '/events'}}")
            i.calendar.icon
            |events
        a.item.toggle_sidebar(href="/m/request" class="{{isActivePath '/m/request'}}")
            i.concierge.bell.icon
            |requests
        a.item.toggle_sidebar(href="/m/offer" class="{{isActivePath '/m/offer'}}")
            i.hand.holding.heart.icon
            |offers
        a.item.toggle_sidebar.set_post(href="/m/post" class="{{isActivePath '/m/post'}}")
            i.newspaper.icon
            |news
        // a.item.toggle_sidebar(href="/m/collective" class="{{isActivePath 'requests'}}")
        //     i.users.icon
        //     |collectives
        a.item.toggle_sidebar.set_bug(href="/m/bug" class="{{isActivePath '/m/bug'}}")
            i.bug.icon
            |bugs
        // a.item.toggle_sidebar.set_rental(href="/m/rental" class="{{isActivePath regex='rentals'}}")
        //     i.clock.icon
        //     |rentals
        // if has_badge 'facilitator'
        a.item.toggle_sidebar(href="/chat" class="{{isActivePath '/chat'}}" title='chat') 
            |chat
            i.chat.icon
        if is_in_admin
            a.icon.item.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.large.icon
                else
                    i.shield.large.icon
            
        if is_admin
            // a.item.toggle_sidebar.set_badge(href="/m/badge" class="{{isActivePath 'badges'}}")
            //     i.certificate.blue.icon
            //     | badges
            // a.item.toggle_sidebar.set_debit(href="/m/debit" class="{{isActivePath regex='rentals'}}")
            //     i.gift.blue.icon
            //     |gifts
            .divider
            // a.item.toggle_sidebar.set_project(href="/m/project" class="{{isActivePath regex='projects'}}")
            //     i.tasks.blue.icon
            //     | projects
            // a.item.toggle_sidebar(href="/m/room" class="{{isActiveRoute 'requests'}}")
            //     i.building.blue.icon
            //     |rooms
            a.blue.item.set_model.toggle_sidebar(href="/m/model" class="{{isActivePath '/m/model'}}")
                |admin
                i.database.blue.icon
            a.item.set_user.toggle_sidebar(href="/m/user" class="{{isActiveRoute '/m/user'}}")
                i.blue.users.icon
                | all users




template(name='footer')
    .ui.stackable.padded.grid.secondary.segment.mobile.hidden
        .row
            .four.wide.column
                .ui.link.list
                    a.icon.item(href='/p/about')
                        | about
                    //- a.icon.item(href='/prime')
                    //-     | forest prime
                    a.icon.item(href="/p/terms") 
                        | terms of service
                    a.icon.item(href="/p/privacy") 
                        | privacy policy
                    //- a.icon.item(href='/sponsor') 
                    //-     | sponsor
                        
                        
            .four.wide.column
                .ui.selection.animated.list
                    a.icon.item(href='/blog')
                        i.blog.icon
                        | blog
                    a.item(href='/' class="{{isActivePath '/'}}")
                        +icolor name='meal' classes='ui avatar image'
                        |meals
                    a.item(href='/ingredients' class="{{isActivePath '/ingredients'}}")
                        +icolor name='ingredients' classes='ui avatar image'
                        |ingredients
                    a.item(href='/dishes' class="{{isActivePath '/dishes'}}")
                        +icolor name='real-food-for-meals' classes='ui avatar image'
                        |dishes
                    a.item(href='/chat' class="{{isActivePath '/chat'}}")
                        +icolor name='chat' classes='ui avatar image'
                        |chat
                    a.item(href='/alerts' class="{{isActivePath '/alerts'}}")
                        //- i.bell.icon(class=alert_icon_class)
                        i.rss.icon
                        |alerts
                if currentUser
                    .ui.selection.animated.list
                        a.item(href='/users')
                            i.users.icon
                            | users
                        a.item(href='/stats')
                            i.line.chart.icon
                            | stats
                unless currentUser
                    .ui.link.list
                        a.icon.item(href='/login')
                            |login



            .four.wide.column

                +footer_chat
                if is_admin
                    with currentUser
                        +role_switcher
            .four.wide.column
                +bug_reporter 
                .ui.grey.small.header    
                    i.copyright.outline.icon 
                    |2020 whats cookin llc
            
            
            
            
template(name='footer_chat')
    a.ui.grey.header(href="/chat")
        i.chat.outline.small.icon
        |chat
        //- .scroll
    .ui.comments
        each chat_messages
            .comment(title="by #{_author_username} #{when}")
                //- if author.image_id
                //-     img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    a.author #{_author_username}
                    .metadata
                        span.date #{when}
                    .text
                        |#{text}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.transparent.input
        i.plus.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


template(name='bug_reporter')
    a.ui.small.grey.header.start_report(href="#")
        i.bug.small.icon
        |report bug
    if reporting_bug
        with new_bug
            |#{pathname}
            +text_edit key='text' direct=true
            .ui.icon.fluid.button.submit_report
                i.checkmark.icon
            .ui.small.icon.button.cancel_bug
                i.remove.icon




template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}



template(name='role_switcher')
    //- .ui.inline.center.aligned.small.grey.header 
    //-     |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
    +user_array_element_toggle key='roles' value='admin' user=currentUser
