template(name='nav')
    .ui.attached.fluid.borderless.topnav.menu
        //- a.icon.item.toggle_sidebar
        //-     i.bars.icon
        a.icon.mobile.only.item(href='/grid' class="{{isActivePath '/grid'}}" title='menu')
            +icolor name='circled-menu'
        a.icon.item(href="/" class="{{isActivePath '/'}}" title='home')
            //- unless subs_ready 
                i.yin.yang.loading.grey.icon(title='dao')
            //- else 
            //- i.fire.icon.toggle_menu
            +icolor name='fire-element' classes='ui inline mini image'
            span.mobile.hidden
                |whats cookin
            span.mobile.only
                |wc
        a.icon.item.mobile.hidden(href='/users' class="{{isActivePath '/users'}}" title='users')
            //- i.users.icon
            +icolor name='group' classes='ui inline mini image'
            |users
        a.mobile.hidden.item.mobile.hidden(href='/tribes' class="{{isActivePath '/tribes'}}" title='tribes')
            +icolor name='log-cabin' classes='ui inline mini image'
            |tribes
        a.mobile.hidden.item(href="/new_meal" title='cook')
            +icolor name='cooking' classes='ui inline mini image'
            |cook
        //- a.mobile.hidden.item(href='/recipes' class="{{isActivePath '/recipes'}}") 
        //-     +icolor name='beer-recipe'
        //-     |recipes
        a.mobile.hidden.item(href='/dishes' class="{{isActivePath '/dishes'}}" title='dishes') 
            +icolor name='meal' classes='ui inline mini image'
            |dishes
        a.mobile.hidden.item(href='/ingredients' class="{{isActivePath '/ingredients'}}" title='ingredients') 
            +icolor name='ingredients' classes='ui inline mini image'
            |ingredients
        .right.menu
            if is_admin 
                a.icon.item.mobile.hidden(href='/admin' class="{{isActivePath '/admin'}}" title="admin")
                    i.shield.icon
                a.icon.item.mobile.hidden(href='/orders' class="{{isActivePath '/orders'}}" title="orders")
                    i.list.icon
                
            //- a.mobile.hidden.icon.item(href='/events' class="{{isActivePath '/events'}}" title='events') 
            //-     i.calendar.icon
            //- a.icon.item(href='/chat' class="{{isActivePath '/chat'}}" title='chat') 
            //-     i.chat.outline.icon
                //- i.rss.icon
            
            if currentUser
                a.icon.item(href='/alerts' class="{{isActivePath '/alerts'}}" title='alerts') 
                    i.bell.large.yellow.icon(class=alert_icon_class)
                a.item(href="/user/#{currentUser.username}/credit" title='your credit')
                    .ui.green.header
                        |#{currentUser.credit}
                a.item(href="/user/#{currentUser.username}") 
                    if currentUser.profile_image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.user.icon
                    |#{currentUser.username}
            else 
                a.icon.item(href="/login")
                    +icolor name='enter-2' classes='ui mini inline image'
                    |login


template(name='footer')
    .ui.stackable.padded.grid.basic.segment
        .row
            .four.wide.column
                //- .ui.link.list
                //-     a.icon.item(href='/p/about')
                //-         | what is dao?
                //-     //- a.icon.item(href='/prime')
                //-     //-     | forest prime
                //-     a.icon.item(href="/p/terms") 
                //-         | terms of service
                //-     a.icon.item(href="/p/privacy") 
                //-         | privacy policy
                //-     //- a.icon.item(href='/sponsor') 
                //-     //-     | sponsor
            //- .four.wide.column
            //-     .ui.link.list
            //-         a.icon.item(href='/blog')
            //-             i.blog.icon
            //-             | blog
            //-         a.icon.item(href='/m/model' class="{{isActivePath '/m/model'}}")
            //-             i.database.icon
            //-             |models
            //-         a.icon.item(href='/events' class="{{isActivePath '/events'}}")
            //-             i.calendar.icon
            //-             |events
            //-         a.icon.item(href='/chat' class="{{isActivePath '/chat'}}")
            //-             i.chat.outline.icon
            //-             |chat
            //-         a.icon.item(href='/alerts' class="{{isActivePath '/alerts'}}")
            //-             //- i.bell.icon(class=alert_icon_class)
            //-             i.rss.icon
            //-             |alerts
            //-     if currentUser
            //-         .ui.link.list
            //-             a.icon.item(href='/users')
            //-                 i.users.icon
            //-                 | users
            //-             a.icon.item(href='/stats')
            //-                 i.line.chart.icon
            //-                 | stats
            //-     unless currentUser
            //-         .ui.link.list
            //-             a.icon.item(href='/login')
            //-                 |login



            .four.wide.column

                +footer_chat
                if is_admin
                    with currentUser
                        +role_switcher
            .four.wide.column
                +bug_reporter 
                .ui.grey.small.header    
                    i.copyright.outline.icon 
                    |2020 whats cookin
            //- 
template(name='footer_chat')
    a.ui.grey.header(href="/chat")
        i.chat.outline.small.icon
        |chat
        //- .scroll
    .ui.comments
        each chat_messages
            .comment(title="by #{_author_username} #{when}")
                //- if author.image_id
                //-     img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    a.author #{_author_username}
                    .metadata
                        span.date #{when}
                    .text
                        |#{text}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.transparent.input
        i.plus.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


template(name='bug_reporter')
    a.ui.small.grey.header.start_report(href="#")
        i.bug.small.icon
        |report bug
    if reporting_bug
        with new_bug
            |#{pathname}
            +text_edit key='text' direct=true
            .ui.icon.fluid.button.submit_report
                i.checkmark.icon
            .ui.small.icon.button.cancel_bug
                i.remove.icon




template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}



template(name='role_switcher')
    .ui.inline.center.aligned.small.grey.header 
        |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='student' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    +user_array_element_toggle key='roles' value='student' user=currentUser
    +user_array_element_toggle key='roles' value='teacher' user=currentUser
    +user_array_element_toggle key='roles' value='parent' user=currentUser
