template(name='product_card')
    .ui.card
        if image_id
            a(href="/product/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/product/#{_id}/view") #{title}
            div created {{from_now _timestamp}} by #{_author_username}
            each tags
                .ui.basic.circular.label #{this}
            //- .ui.large.basic.label 
            //-     |#{points} points
        .content
            +voting

            
            
            
            

template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.basic.circular.compact.button(href="/m/product")
                        i.left.chevron.icon
                        +icolor name='product' classes='ui inline mini image'
                        |products
                .eight.wide.center.aligned.column
                    .ui.center.aligned.header #{title}
                .four.wide.center.aligned.column
                    a.ui.basic.circular.button(href="/m/product/#{_id}/edit")
                        i.blue.pencil.icon
                        |edit        
            .five.wide.column
                with business
                    .ui.segment
                        a.item(href="/business/#{slug}/")
                            img.ui.image(src="{{c.url image_id width=400 height=200 gravity='face' crop='fill'}}")
                            .ui.header
                                |#{title}
                +image_view key='image_id' direct=true
                +array_view key='tags' direct=true
            .six.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +textarea_view key='description' direct=true
                +comments
            .five.wide.column
                div
                +voting_full
                // .ui.header similar products
                // .ui.header alerts



//- template(name='product_edit')
//-     with current_doc
//-         .ui.stackable.padded.grid
//-             .row
//-                 .four.wide.column
//-                 .eight.wide.column
//-                     .ui.header edit '#{title}' product
//-                 .four.wide.column
//-                     a.ui.large.circular.basic.button(href="/product/#{_id}/view")
//-                         i.checkmark.green.icon
//-                         |save        
//-             .five.wide.column
//-                 .ui.header #{title}
//-                 +text_edit key='title' direct=true
//-                 +array_edit key='tags' direct=true
//-                 +image_edit key='image_id' direct=true
//-             .six.wide.column
//-                 img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
//-                 +textarea_edit key='description' direct=true
