template(name='products')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    |products
                if currentUser
                    .ui.icon.circular.basic.button.add_product
                        i.plus.icon
                .spacer
                .ui.small.inline.header filter
                +cloud filter='product'
            .twelve.wide.column
                .ui.icon.input
                    if query
                        i.remove.icon
                    else
                        i.search.icon
                    input.product_search(type='text' placeholder='search...')
                .ui.button.toggle_unvoted(class=unvoted_button_class)
                    |unvoted
                .ui.button.toggle_upvoted(class=upvoted_button_class)
                    i.thumbs.up.outline.icon
                    |upvoted
                .ui.button.toggle_downvoted(class=downvoted_button_class)
                    i.thumbs.down.outline.icon
                    |downvoted
                .spacer
                .scrolling
                    .ui.stackable.centered.four.cards
                        each products
                            +product_card



template(name='product_card')
    .ui.card
        if image_id
            a(href="/product/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/product/#{_id}/view") #{title}
            div created {{from_now _timestamp}} by #{_author_username}
            each tags
                .ui.basic.circular.label #{this}
            //- .ui.large.basic.label 
            //-     |#{points} points
        .content
            +voting

            
            
            
            

template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.basic.circular.compact.button(href="/products")
                        i.left.chevron.icon
                        +icolor name='product' classes='ui inline mini image'
                        |products
                .eight.wide.center.aligned.column
                    .ui.center.aligned.header #{title}
                .four.wide.center.aligned.column
                    a.ui.basic.circular.button(href="/product/#{_id}/edit")
                        i.blue.pencil.icon
                        |edit        
            .five.wide.column
                +image_view key='image_id' direct=true
                +array_view key='tags' direct=true
            .six.wide.column
                .ui.header
                    +icolor name='closet'
                    | pantries included in
                each pantry_inclusions
                    a.ui.small.header(href="/meal/#{_id}/view")
                        img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                        |#{title}
                .ui.header 
                    +icolor name='shop'
                    |stores included in
                .ui.large.selection.animated.list
                    each store_inclusions
                        a.item(href="/dish/#{_id}/view")
                            img.ui.mini.inline.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    |#{title}
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +textarea_view key='description' direct=true
                +comments
            .five.wide.column
                .ui.basic.button.add_to_pantry
                    i.green.large.plus.icon
                    |add to your pantry
                .ui.basic.button.add_to_shop
                    i.green.large.plus.icon
                    |add to your shop
                div
                +voting_full
                .ui.header similar products
                .ui.header alerts



template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                .eight.wide.column
                    .ui.header edit '#{title}' product
                .four.wide.column
                    a.ui.large.circular.basic.button(href="/product/#{_id}/view")
                        i.checkmark.green.icon
                        |save        
            .five.wide.column
                .ui.header #{title}
                +text_edit key='title' direct=true
                +array_edit key='tags' direct=true
                +image_edit key='image_id' direct=true
            .six.wide.column
                img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                +textarea_edit key='description' direct=true
