template(name='orders')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header orders
                with order_stats_doc
                    .ui.header 
                        |#{total_order_amount}
                        |total order amount
            .twelve.wide.column
                .ui.segments
                    each orders 
                        .ui.segment
                            .ui.header
                                |#{meal.dish.title}
                            | #{_author.username} #{when}
                            .ui.green.inline.header
                                |$#{order_price}
