template(name='tribes')
    .ui.stackable.padded.grid
        .row
            .six.wide.column
                .ui.inline.header 
                    +i name='elections' classes='ui avatar image'
                    |tribes
                .ui.big.icon.button.add_tribe(title='add tribe')
                    i.plus.icon
                +cloud filter='tribe'
            .ten.wide.column.scrolling
                each tribes
                    +tribe_card_template
                    
                    
                    
                    
template(name='tribe_card_template')
    .ui.fluid.segment.stackable.grid
        .four.wide.column
            if image_id
                img.ui.small.inline.image(src="{{c.url image_id}}")
        .twelve.wide.column
            a.ui.header(href="/tribe/#{_id}/view")
                |#{title}
            |#{member_ids.length} members
            |!{description}
            //- +ismall name='tags' classes='ui inline image'
            each tags
                .ui.basic.label #{this}
            div



template(name='tribe_edit')
    with cd
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit tribe
                    .ui.header
                        if icon
                            +i name=icon
                        |#{title}
                    a.ui.big.fluid.button(href="/tribe/#{_id}/view" title='save')
                        i.green.checkmark.icon
                        |save
                    +remove_button
                    +icon_edit key='icon' label='icon' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .six.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +image_edit key='image_id' label='image' icon='image' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                .six.wide.column
                    +boolean_edit key='true_false' label='true/false' direct=true 
                    unless true_false
                        .ui.header options
                        .ui.button.add_option
                            |add option
                        each options
                            .ui.segment 
                                +text_edit key='title' direct=true
                                +remove_button
                     
                     
                     
template(name='tribe_view')
    with cd
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column 
                    .ui.inline.header
                        if icon
                            +i name=icon
                        .ui.header #{title}
            .row
                .four.wide.column 
                    if can_edit
                        a.ui.big.button(href="/tribe/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +html_view key='description' icon='content' label='description' direct=true
                    +image_view key='image' icon='image' label='image' direct=true
                    +viewing
                .six.wide.column
                    .ui.header #{members.count} members
                    each members 
                        .ui.small.header #{username}
                .six.wide.column 
                    +doc_array_togggle key='member_ids' value=currentUser._id add_label='join' remove_label='leave'
                    .ui.header 
                        +i name='rss'
                        |activity
                    each log_items
                        +log_item
                    +comments


template(name='latest_tribe_updates')
    .ui.header 
        +i name='clock'
        |latest tribe updates
    .ui.link.list
        each latest_updates
            a.item(href="/tribe/#{parent_id}/view") 
                +ismall name=tribe.icon
                .ui.small.inline.header 
                    |#{tribe.title}: 
                strong #{text}
            |#{when}
