template(name='dishes')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +icolor name='real-food-for-meals'
                    |dishes
                if currentUser
                    .ui.icon.circular.basic.button.add_dish
                        i.plus.icon
                +cloud filter='dish'
                //- a.ui.button(href='/meals')
                //-     |meals
                //- a.ui.button(href='/ingredients')
                //-     |ingredients
                //- a.ui.button(href='/reservations')
                //-     |reservations
            .twelve.wide.column
                .ui.stackable.three.cards
                    each dishes
                        .ui.card
                            if image_id
                                a.image(href="/dish/#{_id}/view")
                                    img.ui.zoom.image(src="{{c.url image_id width=400 height=400}}")
                            .content
                                a.ui.header(href="/dish/#{_id}/view") #{title}
                                div created {{from_now _timestamp}}
                                div available {{from_now date}}
                                if can_edit
                                    +edit_button
                                |servings: #{available_servings}



template(name='dish_card')
    .ui.stackable.grid.segment
        .four.wide.column
            //- img.ui.fluid.image(src="{{c.url image }}")
            img.ui.fluid.rounded.image(src="{{c.url image width=400 height=600 crop='fit'}}")
        .twelve.wide.column
            .ui.header #{title}
            +ismall name='dish'
            .ui.inline.small.header dishes
            each dishes
                .ui.basic.label #{this}
            .ui.inline.small.header tags
            each tags
                .ui.basic.label #{this}
            .ui.inline.small.header location_tags
            each location_tags
                .ui.basic.label #{this}
            .ui.header available {{from_now date}} at #{time_available}
            .ui.header servings available #{servings_available}
            a.ui.large.basic.icon.button(href="/dish/#{_id}/edit")
                i.pencil.icon
            a.ui.large.basic.icon.button(href="/dish/#{_id}/view")
                i.right.chevron.icon        
            //- +edit_button
            //- +view_button
            
template(name='dish_reviews')
    .ui.segment
        .ui.header 
            +i name='popular-topic'
            |reviews
        if can_leave_review
            .ui.basic.button.leave_review leave review
        else
            .ui.basic.button.edit_review leave review
        each reviews
            .ui.header #{text}
            each tags
                .ui.basic.tag #{this}
            .ui.header vote #{vote}



template(name='dish_view')
    with cd
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                .eight.wide.column
                    .ui.center.aligned.header #{title}
                .four.wide.column
                    a.ui.large.basic.circular.button(href="/dish/#{_id}/edit")
                        i.pencil.blue.icon
                        |edit
                    
            .five.wide.column
                .ui.small.header viewing dish
                +array_view key='tags' direct=true
                +array_view key='dishes' direct=true
                +array_view key='location_tags' direct=true
                +image_view key='image_id' direct=true

                .ui.header meals used in
                .ui.large.selection.animated.list
                    each dish_meals
                        a.item(href="/meal/#{_id}/view") {{long_date datetime_available}} by #{_author_username}
            .six.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +html_view key='description' direct=true
                .ui.header 
                    +icolor name='ingredients'
                    |ingredients
                .ui.large.selection.animated.list
                    each dish_ingredients
                        a.item(href="/ingredient/#{_id}/view" title='view ingredient')
                            if image_id
                                img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                            .content
                                .header 
                                    |#{title}
                +comments
            .five.wide.column
                //- +reservations
                .ui.header cook #{_author_username}
                with _author_id
                    +user_card
                with cd
                    +voting_full
                    .ui.header similar dishes
                    .ui.header alerts
                    |alergen alert
                    |#{alergen_alert}
