template(name='dishes')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +icolor name='real-food-for-meals'
                    |dishes
                if currentUser
                    .ui.icon.circular.basic.button.add_dish
                        i.plus.icon
                +cloud filter='dish'
                //- a.ui.button(href='/meals')
                //-     |meals
                //- a.ui.button(href='/ingredients')
                //-     |ingredients
                //- a.ui.button(href='/reservations')
                //-     |reservations
            .twelve.wide.column
                .ui.stackable.three.cards
                    each dishes
                        .ui.card
                            if image_id
                                a.image(href="/dish/#{_id}/view")
                                    img.ui.zoom.image(src="{{c.url image_id width=400 height=300 crop='fit'}}")
                            .content
                                a.ui.header(href="/dish/#{_id}/view") #{title}
                                div created {{from_now _timestamp}}
                                div available {{from_now date}}
                                if can_edit
                                    +edit_button
                                |servings: #{available_servings}



template(name='dish_card')
    .ui.stackable.grid.segment
        .four.wide.column
            //- img.ui.fluid.image(src="{{c.url image }}")
            img.ui.fluid.rounded.image(src="{{c.url image_id width=400 height=600 crop='fit'}}")
        .twelve.wide.column
            .ui.header #{title}
            +ismall name='dish'
            .ui.inline.small.header dishes
            each dishes
                .ui.basic.label #{this}
            .ui.inline.small.header tags
            each tags
                .ui.basic.label #{this}
            .ui.inline.small.header location_tags
            each location_tags
                .ui.basic.label #{this}
            .ui.header available {{from_now date}} at #{time_available}
            .ui.header servings available #{servings_available}
            a.ui.large.basic.icon.button(href="/dish/#{_id}/edit")
                i.pencil.icon
            a.ui.large.basic.icon.button(href="/dish/#{_id}/view")
                i.right.chevron.icon        
            //- +edit_button
            //- +view_button
            
template(name='dish_reviews')
    .ui.segment
        .ui.header 
            +i name='popular-topic'
            |reviews
        if can_leave_review
            .ui.basic.button.leave_review leave review
        else
            .ui.basic.button.edit_review leave review
        each reviews
            .ui.header #{text}
            each tags
                .ui.basic.tag #{this}
            .ui.header vote #{vote}
