template(name='ingredients')
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.inline.header 
                    |ingredients
                if currentUser
                    .ui.icon.circular.basic.button.add_ingredient
                        i.plus.icon
                .spacer
                .ui.small.inline.header filter
                +cloud filter='ingredient'
            .thirteen.wide.column
                .ui.icon.input
                    i.search.icon
                    input.ingredient_search(type='text' placeholder='search...')
                .spacer
                .ui.stackable.centered.four.cards
                    each ingredients
                        +ingredient_card



template(name='ingredient_card')
    .ui.card
        if image_id
            a(href="/ingredient/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/ingredient/#{_id}/view") #{title}
            div created {{from_now _timestamp}} by #{_author_username}
            //- |available servings: #{available_servings}
            

            
            
            
            

template(name='ingredient_view')
    with cd
        .ui.stackable.padded.grid
            .centered.row
                .ten.wide.column
                    .ui.center.aligned.header #{title}
            .five.wide.column
                a.ui.basic.button(href="/ingredients")
                    i.left.chevron.icon
                    |ingredients
                +image_view key='image_id' direct=true
                
                +array_view key='tags' direct=true
                a.ui.basic.fluid.button(href="/ingredient/#{_id}/edit")
                    i.pencil.icon
                    |edit        
                
                .ui.header meals included in
                each meal_inclusions
                    a.ui.small.header(href="/meal/#{_id}/view")
                        |#{title}
                .ui.header dishes included in
                each ingredient_dishes
                    a.ui.small.header(href="/dish/#{_id}/view")
                        |#{title}
            .six.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +textarea_view key='description' direct=true
                +comments
            .five.wide.column
                with cd
                    +voting_full
                    .ui.header similar ingredients
                    .ui.header alerts
                    |alergen alert
                    |#{alergen_alert}



template(name='ingredient_edit')
    with cd
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header edit ingredient
                .ui.header #{title}
                +text_edit key='title' direct=true
                +array_edit key='tags' direct=true
                +image_edit key='image_id' direct=true
            .six.wide.column
                img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                +textarea_edit key='description' direct=true
            .five.wide.column
                a.ui.large.fluid.basic.button(href="/ingredient/#{_id}/view")
                    i.checkmark.green.icon
                    |save        
