template(name='ingredients')
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.inline.header 
                    |ingredients
                .ui.icon.circular.basic.button.add_ingredient
                    i.plus.icon
                .spacer
                .ui.small.inline.header filter
                +cloud filter='ingredient'
            .thirteen.wide.column
                .ui.stackable.centered.cards
                    each ingredients
                        +ingredient_card



template(name='ingredient_card')
    .ui.card
        if image_id
            a(href="/ingredient/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/ingredient/#{_id}/view") #{title}
            div created {{from_now _timestamp}}
            //- |available servings: #{available_servings}
            

            
            
            
            

template(name='ingredient_view')
    with cd
        .ui.stackable.padded.grid
            .four.wide.column
                a.ui.button(href="/ingredients")
                    i.left.chevron.icon
                    |ingredients
                .ui.header #{title}
                +image_view key='image_id' direct=true
                
                +array_view key='tags' direct=true
                a.ui.large.fluid.button(href="/ingredient/#{_id}/edit")
                    i.pencil.icon
                    |edit        
                
                .ui.header meals included in
                each meal_inclusions
                    a.ui.small.header(href="/meal/#{_id}/view")
                        |#{title}
            .four.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +textarea_view key='description' direct=true
                +comments
            .four.wide.column
                with cd
                    +voting
                    .ui.header similar ingredients
                    .ui.header alerts
                    |alergen alert
                    |#{alergen_alert}



template(name='ingredient_edit')
    with cd
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header edit ingredient
                .ui.header #{title}
                +text_edit key='title' direct=true
                +array_edit key='tags' direct=true
                +image_edit key='image_id' direct=true
            .eight.wide.column
                img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                +textarea_edit key='description' direct=true
            .four.wide.column
                a.ui.large.fluid.button(href="/ingredient/#{_id}/view")
                    i.checkmark.icon
                    |save        
