template(name='meals')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    i.wine.glass.icon
                    |meals
                .ui.icon.button.add_meal
                    i.plus.icon
                
                +cloud filter='meal'
                a.ui.button(href='/ingredients')
                    |ingredients
                a.ui.button(href='/meals')
                    |meals
                a.ui.button(href='/recipes')
                    |recipes
            .twelve.wide.column
                .ui.stackable.three.cards
                    each meals
                        +meal



template(name='meal')
    .ui.card
        if picture
            img.ui.image(src="{{c.url picture width=400 height=400}}")
        else
            img.ui.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/meal/#{_id}") #{title}
            div created {{from_now _timestamp}}
            div available {{from_now date}}
            +edit_button
            +view_button
            |available servings: #{available_servings}
            
            if servings_available
                .ui.button.meal_sign_up
                    |sign up


template(name='meal_widget')
    .ui.segment
        a.ui.header(href='/meals')
            i.glass.cheers.icon
            |mealsharing
        .ui.header upcoming meals
        .ui.list
            each meals
                .item
                    |#{title}
                    each ingredients
                        .ui.basic.label #{this}
        .ui.button become a cook




template(name='meal_card')
    .ui.card
        .content
            .right.floated.meta
                |#{when}
            img.ui.avatar.image(src=author.profile_image_id)
            |#{author.username}
        .image
            //- img.ui.fluid.image(src="{{c.url image }}")
            img.ui.fluid.rounded.image(src="{{c.url image width=400 height=600 crop='fit'}}")
        .content
            .ui.header #{title}
            .ui.inline.small.header ingredients
            each ingredients
                .ui.basic.label #{this}
            .ui.inline.small.header tags
            each tags
                .ui.basic.label #{this}
            .ui.inline.small.header location_tags
            each location_tags
                .ui.basic.label #{this}
            .ui.header available {{from_now date}} at #{time_available}
            .ui.header servings available #{servings_available}
            a.ui.large.basic.icon.button(href="/meal/#{_id}/edit")
                i.pencil.icon
            a.ui.large.basic.icon.button(href="/meal/#{_id}/view")
                i.right.chevron.icon        
            //- +edit_button
            //- +view_button
            
template(name='meal_reviews')
    .ui.segment
        .ui.header 
            +i name='popular-topic'
            |reviews
        if can_leave_review
            .ui.basic.button.leave_review leave review
        else
            .ui.basic.button.edit_review leave review
        each reviews
            .ui.header #{text}
            each tags
                .ui.basic.tag #{this}
            .ui.header vote #{vote}



template(name='meal_view')
    with cd
        .ui.stackable.padded.grid
            .four.wide.column
                a.ui.fluid.button(href="/meals")
                    i.wine.glass.icon
                    |meals
                .ui.header #{title}
                +array_view key='tags' direct=true
                +array_view key='ingredients' direct=true
                +array_view key='location_tags' direct=true
                .ui.small.header
                    |date available
                    |#{available_date}
                .ui.small.header
                    |time available
                    |#{time_available}
                .ui.dividing.header
                    |rules
                .ui.header
                    |signup before 24 hours
                .ui.header
                    |payment before 24 hours
            .four.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +html_view key='description' direct=true
                +comments
            .four.wide.column
                a.ui.large.basic.button(href="/meal/#{_id}/edit")
                    i.pencil.icon
                .ui.header cook #{_author_username}
                with _author_id
                    +user_card
            .four.wide.column
                with cd
                    +voting_full
                    .ui.header similar meals
                    .ui.header alerts
                    |alergen alert
                    |#{alergen_alert}



template(name='meal_edit')
    with cd
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header editing meal
                .ui.header #{title}
                +number_edit key='servings' label='servings' direct=true
                +number_edit key='price_per_serving' label='price per serving' direct=true
                +array_edit key='location_tags' direct=true
                .ui.header recipe
                if selected_recipe
                    .ui.small.header recipe
                else 
                    .ui.small.header select recipe
                    each recipes
                        .ui.button.select_recipe #{title}
                //- .ui.small.header
                +date_edit key='date_available' label='date available' direct=true
                //- .ui.small.header
                +time_edit key='time_available' label='time available' direct=true
            .eight.wide.column
                img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                +html_edit key='description' direct=true
            .four.wide.column
                a.ui.large.fluid.basic.green.button(href="/meal/#{_id}/view")
                    i.checkmark.green.icon   
                    |save     
                a.ui.large.fluid.button(href="/meal/#{_id}/view")
                    i.checkmark.icon   
                    |save  
