template(name='new_meal')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.center.aligned.column
                .ui.ordered.steps
                    .active.step
                        .content
                            .title select dish
                    .step
                        .content
                            .title edit dish
                    .step
                        .content
                            .title scheduling and payment
                    .step
                        .content
                            .title confirm and publish
                
    
        //- .row
        //-     .sixteen.wide.center.aligned.column
        //-         .ui.header new meal
                //- .ui.search
                //-     .ui.icon.input
                //-         i.search.icon
                //-         input.seach_dishs(type='text' placeholder='search dishs')
                //- each possible_dishs
                //-     .ui.button.select_dish #{title}
        .centered.row
            .fourteen.wide.column
                .ui.divided.grid
                    .two.column.row
                        .column
                            .ui.header create new
                            .ui.icon.input
                                i.search.icon
                                input.new_dish_title(type='text' placeholder='new dish title')

                            .ui.divider
                            .ui.header recent meals
                            .ui.list
                                each recent_meals
                                    a.item.select_meal
                                        +icolor name='pizza' classes='ui avatar image'
                                        .content
                                            .header
                                                | #{title} hi
                                            .description
                                                |#{when}
                        .column
                            .ui.header your dishs
                            .ui.list
                                each your_dishs
                                    .ui.button.select_dish
                                        |#{title}

template(name='meal_logistics')
    with cd
        .ui.stackable.padded.grid
            .row
                .ui.ordered.steps
                    .completed.step
                        .content
                            .title select dish
                    .completed.step
                        .content
                            .title edit dish
                    .step
                        .content
                            .title scheduling and payment
                    .step
                        .content
                            .title confirm and publish
                
                .sixteen.wide.center.aligned.column
                    .ui.header meal logistics #{_id}
                    .ui.header dish id #{dish_id}
            .row
                .four.wide.column
                    .ui.header editing meal
                    .ui.header #{title}
                    with meal_dish
                        .ui.header dish title #{title}
                    +number_edit key='servings' label='servings' direct=true
                    +number_edit key='price_per_serving' label='price per serving' direct=true
                    +array_edit key='location_tags' direct=true
                    .ui.header dish
                    if selected_dish
                        .ui.small.header dish
                    else 
                        .ui.small.header select dish
                        each dishs
                            .ui.button.select_dish #{title}
                    //- .ui.small.header
                    +date_edit key='date_available' label='date available' direct=true
                    //- .ui.small.header
                    +time_edit key='time_available' label='time available' direct=true
                .eight.wide.column
                    img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                    +html_edit key='description' direct=true
                .four.wide.column
                    a.ui.large.fluid.basic.green.button(href="/meal/#{_id}/view")
                        i.checkmark.green.icon   
                        |save     
