template(name='business_layout')
    +nav
    with current_business
        .ui.stackable.padded.grid
            .middle.aligned.row
                .sixteen.wide.center.aligned.column
                    a.ui.circular.basic.button(href="/m/business")
                        i.left.chevron.icon
                        +icolor name='restaurant-building' classes='ui mini inline image'
                        span.mobile.hidden businesss
                    .ui.center.aligned.inline.header 
                        if icon
                            +icolor name=icon
                        |#{title}
                    if can_edit
                        a.ui.circular.basic.icon.button(href="/business/#{_id}/edit")
                            i.setting.large.icon
            .row
                .sixteen.wide.column
                    a.ui.basic.circular.compact.button(href="/business/#{slug}" class="{{isActiveRoute regex='business_dashboard'}}")
                        +ismall name='dashboard' classes='ui inline image'
                        |dashboard
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/members" class="{{isActiveRoute regex='business_members'}}")
                        +ismall name='info' classes='ui inline image'
                        |members
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/credit" class="{{isActiveRoute regex='business_credit'}}")
                        +ismall name='coins' classes='ui inline image'
                        |credit
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/meals" class="{{isActiveRoute regex='business_meals'}}")
                        +ismall name='meal' classes='ui inline image'
                        |meals
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/dishes" class="{{isActiveRoute regex='business_dishes'}}")
                        +ismall name='meal' classes='ui inline image'
                        |dishes
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/voting" class="{{isActiveRoute regex='business_voting'}}")
                        +ismall name='elections' classes='ui inline image'
                        |voting
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/events" class="{{isActiveRoute regex='business_events'}}")
                        +ismall name='calendar' classes='ui inline image'
                        |events
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/food" class="{{isActiveRoute regex='business_food'}}")
                        +ismall name='food' classes='ui inline image'
                        |food
                    //- a.ui.basic.circular.compact.button(href="/business/#{slug}/settings" class="{{isActiveRoute regex='business_settings'}}")
                    //-     +ismall name='settings' classes='ui inline image'
                    //-     |settings
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/products" class="{{isActiveRoute regex='business_products'}}")
                        +ismall name='shopping-cart' classes='ui inline image'
                        |products
                    a.ui.basic.circular.compact.button(href="/business/#{slug}/services" class="{{isActiveRoute regex='business_services'}}")
                        +ismall name='service-bell' classes='ui inline image'
                        |services

            .row
                .four.wide.column 
                    +image_view key='image' icon='image' label='image'
                    +array_view key='tags' icon='tags'
                    .spacer
                    if link
                        a.ui.basic.circular.button(href=link target='_window')
                            i.external.icon
                            |view site
                        .spacer
                    div
                    .spacer
                    a.ui.compact.basic.circular.button(href=address_link target='_window')
                        i.marker.icon
                        |#{address}
                    +viewing
                .twelve.wide.column
                    div
                    +yield
    +footer

template(name='business_dashboard')
    +html_view key='description' icon='content' label='description'
    .ui.inline.header 
        +icolor name='crown'
        |business leader: 
    a.ui.basic.button(href="/business/#{slug}/#{leader}")
        |#{leader}
    .ui.header 
        +icolor name='groups'
        |#{members.count} members
    .ui.large.selection.animated.list
        each members 
            a.item(href="/business/#{slug}/#{username}")
                img.ui.mini.image(src="{{c.url profile_image_id width=200 height=200}}")
                .content
                    .header
                        |#{username}
    .ui.header #{meal_count} total meals
    each business_meals
        .ui.small.header #{dish.title}
    .ui.header #{upcoming_meal_count} upcoming meals
    each upcoming_business_meals
        .ui.small.header #{dish.title}
    .ui.segment
        .ui.header #{dish_count} dishes
        .ui.selection.animated.list
            each business_dishes
                a.item(href="/dish/#{_id}/view")
                    img.ui.mini.circular.image(src="{{c.url image_id width=100 height=100}}")
                    .content
                        .header 
                            |#{title}
    +doc_array_togggle key='member_ids' value=currentUser._id add_label='join' remove_label='joined'
    .ui.header 
        +i name='rss'
        |activity
    each log_items
        +log_item
    .ui.header 
        +icolor name='line-chart'
        |stats
    i.refresh.link.icon.refresh_business_stats
    .ui.large.list
        .item #{member_count} members
        .item #{meal_count} meals
        .item #{dish_count} dishes
        .item #{total_credit_exchanged} credits exchanged
    //- +comments
