template(name='users')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header
                    i.large.icons
                        i.yin.yang.icon
                        i.outline.user.corner.icon
                    |users
        .one.column.row 
            .column
                .ui.stackable.centered.five.cards 
                    each users 
                        +user_card
                        
template(name='user_card')                        
    .ui.card 
        if profile_image_id 
            a.image(href="/user/#{username}")
                img.ui.image(src="{{c.url profile_image_id gravity='face' height='300' crop='crop'}}")
        .content
            a.ui.header(href="/user/#{username}") #{username}
            .ui.list
                .item #{karma} karma
            a.ui.fluid.circular.button(href="/user/#{username}")
                //- |view
                i.chevron.right.icon
