template(name='users')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header
                    +icolor name='groups'
                    |users
        .row 
            .four.wide.column
                .ui.icon.input
                    i.search.icon
                    input.ingredient_search(type='text' placeholder='search username')

            .twelve.wide.column
                .ui.stackable.centered.four.cards 
                    each users 
                        +user_card
                        
template(name='user_card')                        
    .ui.card 
        if profile_image_id 
            a.image(href="/user/#{username}")
                img.ui.image(src="{{c.url profile_image_id}}")
        .content
            a.ui.header(href="/user/#{username}") #{username}
            each tags
                .ui.small.basic.circular.label
                    |#{this}
            .ui.list
                .item #{meal_count} meals
                .item #{order_count} orders
                .item #{sales_count} sales
                .item #{dishes} dishes
                .item #{authored_ingredient_count} authored ingredients
                .item #{karma} karma
            a.ui.fluid.basic.circular.button(href="/user/#{username}")
                |view
                i.chevron.right.icon
