template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .eight.wide.column
                .ui.center.aligned.basic.segment
                    //- a.ui.icon.large.button(href="/" title='return home')
                    //-     i.home.icon
                        //- |home
                    i.huge.fire.icon
                    //- img.ui.rounded.large.centered.inline.image(src="{{c.url 'forest_logo_blue' width=400 height=400}}")
                    .ui.inline.large.header whats cookin login
                div
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.inline.small.header(class=form_login_class) 
                    i.user.outline.icon
                    |username
                .ui.fluid.large.input(class=form_login_class)
                    input.username(type='text')
                .spacer
                .ui.inline.small.header(class=form_login_class) 
                    i.lock.icon
                    | password
                .ui.fluid.large.input(class=form_login_class)
                    input.password(type='password')
                //- if username
                if logging_in
                    .spacer
                    .ui.fluid.big.circular.basic.button.enter(title="login #{username}" class=enter_class)
                        |login
                        strong #{username}
                        |&nbsp;
                        //- i.sign.in.alternate.icon
                        i.right.chevron.icon
                else
                    if username
                        .ui.center.aligned.basic.segment
                            .ui.header no '#{username}' user
                            a.ui.basic.circular.large.button(href='/register')
                                i.user.plus.icon
                                | register
                unless username
                    .ui.center.aligned.basic.segment    
                        a.ui.circular.basic.button(href='/forgot_password')
                            i.refresh.icon
                            |forgot password
                        a.ui.circular.basic.button(href='/register') 
                            i.user.plus.icon
                            |register
                        //- .ui.center.aligned.inline.header see the front desk to register an account
