template(name='profile_layout')
    //- img.ui.fluid.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .three.wide.column
                img.ui.centered.small.rounded.profile_image.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                .ui.center.aligned.basic.segment
                    a(href="/user/#{username}")
                        if user.first_name
                            .ui.center.aligned.inline.header
                                | #{user.first_name} #{user.last_name}
                        div
                        .ui.inline.header @#{user.username}        
                .ui.fluid.vertical.pointing.large.menu(class="{{currentUser.nav_color}}")
                    a.item(href="/user/#{username}/dashboard" class="{{isActiveRoute regex='user_dashboard'}}")
                        //- i.grey.dashboard.icon
                        i.icon 
                            +ismall name='dashboard'
                        |dashboard
                    a.item(href="/user/#{username}/profile" class="{{isActiveRoute regex=user_offers}}")
                        i.icon 
                            +ismall name='info'
                        //- i.grey.info.icon
                        |profile
                    a.item(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                        //- i.grey.coins.icon
                        i.icon 
                            +ismall name='coins'
                        |credit
                    //- a.item(href="/user/#{username}/events" class="{{isActiveRoute regex='user_events'}}")
                    //-     i.icon 
                    //-         +ismall name='calendar'
                    //-     //- i.grey.calendar.icon
                    //-     |calendar

                    //- if is_admin
                    //- a.item(href="/user/#{username}/karma" class="{{isActiveRoute regex=user_karma}}")
                    //-     i.grey.yin.yang.icon
                    //-     |karma
                    //- a.item(href="/user/#{username}/upvoted" class="{{isActiveRoute regex=user_upvoted}}")
                    //-     i.grey.thumbs.up.icon
                    //-     |upvoted
                    //- a.item(href="/user/#{username}/downvoted" class="{{isActiveRoute regex=user_downvoted}}")
                    //-     i.grey.thumbs.down.icon
                    //-     |downvoted
                    //- a.item(href="/user/#{username}/cart" class="{{isActiveRoute regex='user_cart'}}")
                    //-     i.grey.shopping.cart.icon
                    //-     |cart
                    a.item(href="/user/#{username}/tribes" class="{{isActiveRoute regex='user_tribes'}}")
                        i.icon 
                            +ismall name='group'
                        |tribes
                    a.item(href="/user/#{username}/friends" class="{{isActiveRoute regex='user_friends'}}")
                        //- i.grey.users.icon
                        i.icon 
                            +ismall name='groups'
                        |friends
                    a.item(href="/user/#{username}/messages" class="{{isActiveRoute regex='user_messages'}}")
                        //- i.grey.envelope.icon
                        i.icon 
                            +ismall name='envelope'
                        |messages
                if is_current_user
                    a.ui.large.fluid.basic.button(href="/user/#{username}/edit")
                        //- i.cog.icon
                        +ismall name='settings' classes='ui inline image'
                        |account
                    a.ui.fluid.basic.button.logout(href="#")
                        //- i.sign.out.alternate.icon
                        +ismall name='exit' classes='ui inline image'
                        |log out
                    //- a.ui.fluid.button.logout_other_clients(href="#" title='logout other clients')
                    //-     //- i.globe.icon
                    //-     |log out other clients
                if is_admin
                    .ui.basic.segment
                        .ui.header 
                            i.grey.shield.small.icon
                            |roles
                        each roles
                            .ui.basic.label #{this}
                //- +user_friend_button            
            .thirteen.wide.column
                //- each user_sections
                //-     a.ui.button(href="/user/#{username}/#{slug}")
                //-         i.icon(class=icon)
                //-         |#{title}
                +yield    
    //- +footer



template(name='user_dashboard')             
    //- .ui.center.aligned.header 
    //-     i.dashboard.grey.icon
    //-     |dashboard
    .ui.stackable.padded.grid
        .row
            .eight.wide.column
                .ui.header meals offered
                if is_current_user
                    .ui.basic.button.offer_new_meal
                        i.plus.icon
                        |offer new meal
                each offered_meals
                    .ui.small.header #{title}
            .eight.wide.column
                .ui.header meals consumed
        .three.column.row
            .column
                //- i.recalc_user_act_stats.refresh.link.icon
                //- i.recalc_user_cloud.refresh.link.icon
                .ui.header upvote cloud 
                    each current_user.upvote_tag_cloud
                        .ui.basic.large.label 
                            |#{tag}
                            small #{count}
                .ui.header downvote cloud 
                    each current_user.downvote_tag_cloud
                        .ui.basic.large.label 
                            |#{tag}
                            small #{count}
                .ui.header upvote tag list
                each current_user.upvote_tag_list
                    .ui.label #{this}
                .ui.header downvote tag list
                each current_user.downvote_tag_list
                    .ui.label #{this}
            .column
                .ui.header karma
                .ui.header #{current_user.karma} karma
                .ui.button.send_karma
                    |send karma
                .ui.button.request_karma
                    |request
            .column
        .three.column.row
            .column
                //- .ui.header 
                //-     |hourly rate: $#{hourly_rate}
                +user_alerts_small
            .column
                +user_bookmarks_small
            //-     +user_answered_questions_small
            .column
                .ui.small.header meals
                .ui.list 
                    .item from yesterday
                    .item from last week
                    .item from last month
            .column
                //- .ui.header #{site_percent_complete}% site complete
                //- .ui.header #{session_count} sessions
                //- .ui.indicating.tiny.progress(data-percent=global_section_average)
                //-     .bar 
                    //- .label 
                    //-     |#{global_section_average}% total
                .ui.teal.label(title='global rank')
                    |#{global_section_average_rank}
                .ui.blue.label(title='group rank')
                    |#{global_section_average_rank}
            
        .three.column.row
            .column
                +user_stats_small


template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}


    
template(name='user_stats_small')
    .ui.inline.header 
        i.bar.chart.icon
        |stats
    div    
    .ui.large.list 
        .item profile views 
        .item meals cooked
        .item meals bought
        .item comments
        
    
    
