template(name='profile_layout')
    //- img.ui.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .three.wide.column
                img.ui.centered.medium.rounded.profile_image.image.large.monitor.only(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                img.ui.tiny.inline.rounded.profile_image.image.mobile.only(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a(href="/user/#{username}")
                    if user.first_name
                        .ui.center.aligned.inline.header
                            | #{user.first_name} #{user.last_name}
                    .ui.inline.header @#{user.username}
                if is_current_user
                    a.ui.large.basic.circular.compact.button(href="/user/#{username}/edit")
                        +ismall name='settings' classes='ui inline image' classes='ui inline image'
                        |account
                    a.ui.basic.circular.compact.button.logout(href="#")
                        //- i.sign.out.alternate.icon
                        +ismall name='exit' classes='ui inline image' classes='ui inline image'
                        |log out
                    a.ui.basic.circular.compact.button.logout_other_clients(href="#" title='logout other clients')
                        i.globe.icon
                        |log out other clients
                if is_admin
                    .ui.basic.segment
                        .ui.header 
                            i.grey.shield.small.icon
                            |roles
                        each roles
                            .ui.basic.label #{this}
                +user_friend_button            
                              
            .thirteen.wide.column
                a.ui.basic.circular.compact.button(href="/user/#{username}/dashboard" class="{{isActiveRoute regex='user_dashboard'}}")
                    +ismall name='dashboard' classes='ui inline image'
                    |dashboard
                a.ui.basic.circular.compact.button(href="/user/#{username}/profile" class="{{isActiveRoute regex='user_profile'}}")
                    +ismall name='info' classes='ui inline image'
                    |profile
                a.ui.basic.circular.compact.button(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                    +ismall name='coins' classes='ui inline image'
                    |credit
                //- a.ui.basic.circular.compact.button(href="/user/#{username}/events" class="{{isActiveRoute regex='user_events'}}")
                //-     +ismall name='calendar' classes='ui inline image'
                //-     //- i.grey.calendar.icon
                //-     |calendar
                //- 
                //- //- if is_admin
                //- a.ui.basic.circular.compact.button(href="/user/#{username}/karma" class="{{isActiveRoute regex=user_karma}}")
                //-     i.grey.yin.yang.icon
                //-     |karma
                //- a.ui.basic.circular.compact.button(href="/user/#{username}/upvoted" class="{{isActiveRoute regex=user_upvoted}}")
                //-     i.grey.thumbs.up.icon
                //-     |upvoted
                //- a.ui.basic.circular.compact.button(href="/user/#{username}/downvoted" class="{{isActiveRoute regex=user_downvoted}}")
                //-     i.grey.thumbs.down.icon
                //-     |downvoted
                a.ui.basic.circular.compact.button(href="/user/#{username}/orders" class="{{isActiveRoute regex='user_orders'}}")
                    +ismall name='order-history' classes='ui inline image'
                    |orders
                a.ui.basic.circular.compact.button(href="/user/#{username}/ingredients" class="{{isActiveRoute regex='user_ingredients'}}")
                    +ismall name='ingredients' classes='ui inline image'
                    |ingredients
                a.ui.basic.circular.compact.button(href="/user/#{username}/dishes" class="{{isActiveRoute regex='user_dishes'}}")
                    +ismall name='meal' classes='ui inline image'
                    |dishes
                a.ui.basic.circular.compact.button(href="/user/#{username}/tribes" class="{{isActiveRoute regex='user_tribes'}}")
                    +ismall name='log-cabin' classes='ui inline image'
                    |tribes
                a.ui.basic.circular.compact.button(href="/user/#{username}/meals" class="{{isActiveRoute regex='user_meals'}}")
                    +ismall name='meal' classes='ui inline image'
                    |meals
                a.ui.basic.circular.compact.button(href="/user/#{username}/pantry" class="{{isActiveRoute regex='user_pantry'}}")
                    +ismall name='kitchen' classes='ui inline image'
                    |pantry
                a.ui.basic.circular.compact.button(href="/user/#{username}/friends" class="{{isActiveRoute regex='user_friends'}}")
                    +ismall name='groups' classes='ui inline image'
                    |friends
                a.ui.basic.circular.compact.button(href="/user/#{username}/messages" class="{{isActiveRoute regex='user_messages'}}")
                    +ismall name='inbox' classes='ui inline image'
                    |messages
                +yield    
    +footer





template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}


    
template(name='user_stats_small')
    .ui.inline.header 
        +icolor name='combo-chart'
        |stats
    div    
    .ui.large.list 
        .item profile views 
        .item meals cooked
        .item meals bought
        .item comments
        
    
    
