template(name='user_dishes')
    .ui.stackable.padded.grid 
        .row
            .twelve.wide.column
                .ui.center.aligned.header 
                    +icolor name='meal' 
                    | user dishes
        .row
            .eight.wide.column
                .ui.header 
                    i.thumbs.up.outline.icon
                    |liked dishes
                .ui.list
                    each user_liked_dishes
                        .item #{title}
            .eight.wide.column
                .ui.header 
                    i.thumbs.down.outline.icon
                    |disliked dishes
                .ui.list
                    each user_disliked_dishes
                        .item #{title}
            .eight.wide.column
                .ui.header 
                    i.pencil.icon
                    |authored dishes
                .ui.list
                    each user_authored_dishes
                        .item #{title}
            .eight.wide.column
                .ui.header dish karma 
                .ui.button.convert_karma
                    |convert karma into credit


template(name='user_ingredients')
    .ui.stackable.padded.grid 
        .row
            .twelve.wide.column
                .ui.center.aligned.header 
                    +icolor name='ingredients' 
                    | user ingredients
        .row
            .eight.wide.column
                .ui.header 
                    i.thumbs.up.outline.icon
                    |liked ingredients
                .ui.list
                    each user_liked_ingredients
                        .item #{title}
            .eight.wide.column
                .ui.header 
                    i.thumbs.down.outline.icon
                    |disliked ingredients
                .ui.list
                    each user_disliked_ingredients
                        .item #{title}
            .eight.wide.column
                .ui.header 
                    i.pencil.icon
                    |authored ingredients
                .ui.list
                    each user_authored_ingredients
                        .item #{title}
            .eight.wide.column
                .ui.header ingredient karma 
                .ui.button.convert_karma
                    |convert karma into credit
