template(name='user_dishes')
    .ui.stackable.padded.grid 
        //- .row
        //-     .twelve.wide.column
        //-         .ui.center.aligned.header 
        //-             +icolor name='real-food-for-meals' 
        //-             | user dishes
        .row
            .eight.wide.column
                .ui.header 
                    i.thumbs.up.outline.icon
                    | #{user_liked_dishes.count} liked dishes
                .ui.link.list
                    each user_liked_dishes
                        a.item(href="/dish/#{_id}/view") 
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{title}
                .spacer
            .eight.wide.column
                .ui.header 
                    i.thumbs.down.outline.icon
                    |#{user_disliked_dishes.count} disliked dishes
                .ui.link.list
                    each user_disliked_dishes
                        a.item(href="/dish/#{_id}/view") 
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{title}
                .spacer
                        
            .eight.wide.column
                .ui.header 
                    i.pencil.icon
                    | #{user_authored_dishes.count} authored dishes
                .ui.link.list
                    each user_authored_dishes
                        a.item(href="/dish/#{_id}/view") 
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{title}
                        
            .eight.wide.column
                .ui.header dish karma 
                .ui.button.convert_karma
                    |convert karma into credit


template(name='user_ingredients')
    .ui.stackable.padded.grid 
        //- .row
        //-     .twelve.wide.column
        //-         .ui.center.aligned.header 
        //-             +icolor name='ingredients' 
        //-             | user ingredients
        .row
            .eight.wide.column
                .ui.header 
                    i.thumbs.up.outline.icon
                    |#{user_liked_ingredients.count} liked ingredients
                .ui.link.list
                    each user_liked_ingredients
                        a.item(href="/ingredient/#{_id}/view")
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            | #{title}
                .spacer
            .eight.wide.column
                .ui.header 
                    i.thumbs.down.outline.icon
                    | #{user_disliked_ingredients.count} disliked ingredients
                .ui.link.list
                    each user_disliked_ingredients
                        a.item(href="/ingredient/#{_id}/view") 
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{title}

                .spacer
            .eight.wide.column
                .ui.header 
                    i.pencil.icon
                    |#{user_authored_ingredients.count} authored ingredients
                .ui.link.list.smallscroll
                    each user_authored_ingredients
                        a.item(href="/ingredient/#{_id}/view")
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            | #{title}
            //- .eight.wide.column
            //-     .ui.header ingredient karma 
            //-     .ui.button.convert_karma
            //-         |convert karma into credit
            //-     .spacer
