template(name='user_profile')
    with current_user
        .ui.center.aligned.header 
            i.info.icon
            | profile
        .ui.stackable.grid
            .three.column.row
                .column
                    |!{bio}
                .column
                    each allergens 
                        .ui.label #{this}

template(name='user_tribes')
    with current_user
        .ui.center.aligned.header 
            +icolor name='log-cabin'
            | tribes
        each user_tribes
            .ui.header #{title}



template(name='user_friends')
    .ui.center.aligned.header 
        i.people.carry.icon
        | friends
    +user_friend_button
    .ui.middle.aligned.selection.animated.large.list
        each friends
            +user_segment




template(name='user_segment')
    a.item(href="/user/#{username}")
        img.ui.avatar.image(src="{{c.url profile_image_id gravity='face' crop='fit'}}")
        .content
            .header
                |#{name}
            .description
                each tags
                    .ui.basic.label #{this}

    //- .ui.horizontal.card
    //-     .image
    //-         if image_id
    //-             img(src="{{c.url image_id gravity='face' crop='crop'}}")
    //-     .content
    //-         a.ui.header(href="/user/#{username}")
    //-             |#{first_name} #{last_name}
    //-             //- |#{username}
    //-         //- .ui.header Tags
    //-         each tags
    //-             .ui.basic.label #{this}
    //-         +user_status user
    //-         .ui.header #{body}
    //-         +user_friend_button

template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.button.unfriend
            .visible.content
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.basic.button.friend
            i.plus.icon
            |friend


template(name='user_bookmarks_small')
    .ui.inline.header
        i.bookmark.small.icon
        | bookmarks
    div
    .ui.large.link.list
        each bookmarks
            a.item(href="/#{model}/#{_id}/view") #{title} [#{model}]
        
