template(name='admin')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    |admin
                +call_method name='calculate_model_doc_count'
                +call_method name='send_mail'
        .two.column.row
            .column
                .ui.header 
                    |withdrawals
                each withdrawals
                    .item
                        .ui.header #{when} for #{amount} credit
                        |status: #{status}
                        .ui.button.cancel_withdrawal
                            i.ban.icon
                            |cancel
                        +author_info
            .column
                .ui.header 
                    |payments
                .largescroll
                    each payments
                        .item
                            .ui.header #{sender_username} to #{recipient_username} #{when} for #{amount} credit
                            +author_info
            .column
                a.ui.button(href='/ingredients' class="{{isActivePath '/ingredients'}}" title='ingredients')
                    i.pepper.hot.icon
                    |ingredients
                a.ui.button(href="/stats")
                    i.line.chart.icon
                    |stats
                a.ui.button(href="/orders")
                    i.cart.icon
                    |orders
                a.ui.button(href='/recipes' class="{{isActivePath '/recipes'}}" title='recipes')
                    i.blog.icon
                    |recipes
                a.ui.button(href='/meals' class="{{isActivePath '/meals'}}" title='meals')
                    i.wine.glass.icon
                    |meals

                //- +my_latest_activity
                //- +latest_activity


template(name='call_method')
    .ui.button.call_method
        |#{name}
